html,body{scrollbar-base-color:#772953;}
html,body::webkit-scrollbar{
width:7px;
background-color:#772953;
}
body
{
margin-left:100;
top:20%;
font-family: Arial, sans-serif;
color:#772953;
}
a{color:#772953}
a:visited{color:orange}
.top
{
position:fixed;
font-size:800%;
text-align:center;
background:red;
padding:5x;
width:100%;
left:0%;
z-index:5;
}
.top div{background:red;}
.content
{
position:absolute;
top:200px;
left:100px;
right:5%;
}
.item{border:5px solid #772953}
.menu
{
position:absolute;
top:200px;
left:0%;
background:#772953;
}
.menu a{
color:white;
text-decoration:none;
}
.menu a:visited{
color:orange;
text-decoration:none;
}
.menu-button{
position: relative;
width: 100px;
height: 50px;
overflow: visible;
background: #772953;
margin-top:15px;
text-align:center-left;
border:green;
}
.menu-button a{
width: 100px;
height: 50px;
display: block;
outline:none;
}
.menu-button-hidden{
position: relative;
top:-65px;
left: -100%;
width: 100px;
height: 35px;
background: #772953;
text-align:center-left;
padding:15px;
z-index:-5;
}
.menu-button:hover .menu-button-hidden{
	top:-65px;
left: 100%;
z-index:0;
}
.smm
{
position:fixed;
top:200px;
right:0;
}
.bottom
{
position:fixed;
right:0;
bottom:0;
text-align:right;
}
.logo
{
float:left;
width:100px;
height:100px;
}
h1
{
margin-left:100;
font-size:20;
float:none;
}
li
{
margin-left:100;
}
#fun_red
{
	width:147px;
height:147px;
top:0;
left:0;
position:absolute;
z-index:99;
overflow: visible;
}
#fun_red2
{
	width:147px;
height:147px;
top:0;
right:0;
position:absolute;
z-index:99;
overflow: visible;
}
#fun_orange
{
width:90%;
height:90%;
bottom:0;
right:0;
background:#005aff;
position:absolute;
z-index:100;
overflow: visible;
}
#fun_yellow
{
width:80%;
height:80%;
bottom:0;
right:0;
background:blue;
position:absolute;
z-index:101;
overflow: visible;
}
#fun_lime
{
width:70%;
height:70%;
bottom:0;
right:0;
background:lime;
position:absolute;
z-index:102;
overflow: visible;
}
#fun_dsb
{
width:60%;
height:60%;
bottom:0;
right:0;
background:#ff4000;
position:absolute;
z-index:103;
overflow: visible;
}
#fun_blue
{
width:50%;
height:50%;
bottom:0;
right:0;
background:blue;
position:absolute;
z-index:104;
overflow: visible;
}
#fun_bv
{
width:40%;
height:40%;
bottom:0;
right:0;
background:#75d41d;
position:absolute;
z-index:105;
overflow: visible;
}
.line{
	position:relative;
	width:249px;
	height:1px;
	background:black;
}
.line-1{top:125px;}
.line-2{
	top:124px;
rotate:2deg;
}
.line-3{
	top:123px;
rotate:4deg;
}
.line-4{
	top:122px;
rotate:6deg;
}
.line-5{
	top:121px;
rotate:8deg;
}
.line-6{
	top:120px;
rotate:10deg;
}
.line-7{
	top:119px;
rotate:12deg;
}
.line-8{
	top:118px;
rotate:14deg;
}
.line-9{
	top:117px;
rotate:16deg;
}
.line-10{
	top:116px;
rotate:18deg;
}
.line-11{
	top:115px;
	rotate:20deg;
}
.line-12{
	top:114px;
rotate:22deg;
}
.line-13{
	top:113px;
rotate:24deg;
}
.line-14{
	top:112px;
rotate:26deg;
}
.line-15{
	top:111px;
rotate:28deg;
}
.line-16{
	top:110px;
rotate:30deg;
}
.line-17{
	top:109px;
rotate:32deg;
}
.line-18{
	top:108px;
rotate:34deg;
}
.line-19{
	top:107px;
rotate:36deg;
}
.line-20{
	top:106px;
rotate:38deg;
}
.line-21{
	top:105px;
rotate:40deg;
}
.line-22{
	top:104px;
rotate:42deg;
}
.line-23{
	top:103px;
rotate:44deg;
}
.line-24{
	top:102px;
rotate:46deg;
}
.line-25{
	top:101px;
rotate:48deg;
}
.line-26{
	top:100px;
rotate:50deg;
}
.line-27{
	top:99px;
rotate:52deg;
}
.line-28{
	top:98px;
rotate:54deg;
}
.line-29{
	top:97px;
rotate:56deg;
}
.line-30{
	top:96px;
	rotate:58deg;
}
.line-31{
	top:95px;
rotate:60deg;
}
.line-32{
	top:94px;
rotate:62deg;
}
.line-33{
	top:93px;
rotate:64deg;
}
.line-34{
	top:92px;
rotate:66deg;
}
.line-35{
	top:91px;
rotate:68deg;
}
.line-36{
	top:90px;
rotate:70deg;
}
.line-37{
	top:89px;
rotate:72deg;
}
.line-38{
	top:88px;
rotate:74deg;
}
.line-39{
	top:87px;
rotate:76deg;
}
.line-40{
	top:86px;
rotate:78deg;
}
.line-41{
	top:85px;
rotate:80deg;
}
.line-42{
	top:84px;
rotate:82deg;
}
.line-43{
	top:83px;
rotate:84deg;
}
.line-44{
	top:82px;
rotate:86deg;
}
.line-45{
	top:81px;
rotate:88deg;
}
.line-46{
	top:80px;
rotate:90deg;
}