html,body{scrollbar-base-color:#772953;}
html,body::webkit-scrollbar{
width:7px;
background-color:#772953;
}
body
{
margin-left:100;
top:20%;
font-family: Arial, sans-serif;
color:#772953;
}
a{color:#772953}
a:visited{color:orange}
.top
{
position:fixed;
font-size:800%;
text-align:center;
background:red;
padding:5x;
width:100%;
left:0%;
z-index:5;
}
.top div{background:red;}
.content
{
position:absolute;
top:200px;
left:100px;
right:5%;
}
.item{border:5px solid #772953}
.menu
{
position:absolute;
top:200px;
left:0%;
background:#772953;
}
.menu a{
color:white;
text-decoration:none;
}
.menu a:visited{
color:orange;
text-decoration:none;
}
.menu-button{
position: relative;
width: 100px;
height: 50px;
overflow: visible;
background: #772953;
margin-top:15px;
text-align:center-left;
border:green;
}
.menu-button a{
width: 100px;
height: 50px;
display: block;
outline:none;
}
.menu-button-hidden{
position: relative;
top:-65px;
left: -100%;
width: 100px;
height: 35px;
background: #772953;
text-align:center-left;
padding:15px;
z-index:-5;
}
.menu-button:hover .menu-button-hidden{
	top:-65px;
left: 100%;
z-index:0;
}
.smm
{
position:fixed;
top:200px;
right:0;
overflow: hidden;
}
.bottom
{
position:fixed;
right:0;
bottom:0;
text-align:right;
}
.logo
{
float:left;
width:100px;
height:100px;
}
h1
{
margin-left:100;
font-size:20;
float:none;
}
li
{
margin-left:100;
}
#fun_red
{
	width:147px;
height:147px;
top:0;
left:0;
position:absolute;
z-index:99;
overflow: visible;
}
#fun_red2
{
	width:147px;
height:147px;
top:0;
right:0;
position:absolute;
z-index:99;
overflow: visible;
}
#fun_orange
{
width:90%;
height:90%;
bottom:0;
right:0;
background:#005aff;
position:absolute;
z-index:100;
overflow: visible;
}
#fun_yellow
{
width:80%;
height:80%;
bottom:0;
right:0;
background:blue;
position:absolute;
z-index:101;
overflow: visible;
}
#fun_lime
{
width:70%;
height:70%;
bottom:0;
right:0;
background:lime;
position:absolute;
z-index:102;
overflow: visible;
}
#fun_dsb
{
width:60%;
height:60%;
bottom:0;
right:0;
background:#ff4000;
position:absolute;
z-index:103;
overflow: visible;
}
#fun_blue
{
width:50%;
height:50%;
bottom:0;
right:0;
background:blue;
position:absolute;
z-index:104;
overflow: visible;
}
#fun_bv
{
width:40%;
height:40%;
bottom:0;
right:0;
background:#75d41d;
position:absolute;
z-index:105;
overflow: visible;
}